html, body {
    height: 100%;
}

.cover {
    background: white;
    background-size: cover;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.cover-caption {
    width: 100%;
}

.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #007bff !important;
    border-color: #007bff;
    font-weight: bold;
}

.btn-group-xs > .btn, .btn.btn-xs {
    padding: .5rem .4rem;
    font-size: .8rem;
    line-height: .5;
    border-radius: .2rem;
}